{{- $actionURL := .Site.Params.widgets.search.url | default "https://google.com/search" -}}
{{- $inputName := .Site.Params.widgets.search.input.name | default "sitesearch" -}}
{{- $inputPre := .Site.Params.widgets.search.input.pre -}}


<div class="widget-search widget">

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>

</div>
