{{- if .Param "authorbox" }}
<div class="authorbox clearfix">
	{{- if and (not .Site.params.author.avatar) (not .Site.Author.name) (not .Site.Author.bio) }}
	<p class="authorbox__warning">
		<strong>WARNING:</strong> Authorbox is activated, but [Author] parameters are not specified.
	</p>
	{{- end }}
	{{- with .Site.params.author.avatar }}
	<figure class="authorbox__avatar">
		<img alt="{{ $.Site.params.author.name }} avatar" src="{{ $.Site.params.author.avatar | relURL }}" class="avatar" height="90" width="90">
	</figure>
	{{- end }}
	{{- with .Site.params.author.name }}
	<div class="authorbox__header">
		<span class="authorbox__name">{{ T "authorbox_name" (dict "Name" .) }}</span>
	</div>
	{{- end }}
	{{- with .Site.params.author.bio }}
	<div class="authorbox__description">
		{{ . | markdownify }}
	</div>
	{{- end }}
</div>
{{- end }}